a, a:hover, a:active{
    text-decoration: none !important;
}

.wrapper{
    position: relative;
    top: 0;
    height: 100vh;
}

.container-fluid .content-admin{
    padding: 30px;
}

.sidebar{
    background-color: #191919;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.sidebar .logo{
    padding: 15px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
}

.sidebar .logo:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.3);
}

.sidebar .logo .simple-text{
    text-transform: uppercase;
    padding:5px 0px;
    font-size: 18px;
    white-space: nowrap;
    font-weight: 400;
    line-height: 30px;
    overflow: hidden;
    text-align: center;
    display: block;
}

.sidebar .sidebar-wrapper{
    position: relative;
    height: calc(100vh-75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
}

.sidebar .nav{
    margin-top: 20px;
    display: block;
}

.nav{
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav li a {
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px 15px;
    margin: 0 15px;
}

.sidebar .nav i {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

.nav li.active>a{
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

.sidebar .nav p {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}

.main-panel{
    position: relative;
    float: right;
    width: calc(100% - 260px);
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-panel>.content{
    margin-top: -70px;
    padding: 30px 15px;
    min-height: calc(100vh - 123px);
}

.main-header{
    margin: 15px;
}

.main-header .main-title{
    font-size: 1.8rem;
}

.main-footer{
    position: fixed;
    background: #fff;
    border-top: 1px solid #dee2e6;
    color: #869099;
    padding: 1rem;
    width: 100%;
    bottom: 0;
    z-index: 10;
}

.footer-link{
    font-weight: bold;
    color: darkblue !important;
}

/*
    CARDS
*/

.box-stat {
    border-radius: .25rem;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 20px;
    position: relative;
}

.bg-success {
    background-color: #28a745!important;
}

.bg-info{
    background-color: #17a2b8!important;
}

.bg-warning{
    background-color: #ffc107!important;
}

.bg-danger{
    background-color: #dc3545!important;
}

.bg-card{
    background-color: #4bcdf5!important;
}

.box-stat-footer{
    background-color: rgba(0, 0, 0, .1);
    display: block;
    padding: 3px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    z-index: 10;
}

.box-stat-footer i{
    padding-left: 0.5em;
}

.box-stat .inner{
    padding: 10px;
}

.box-stat .inner h3{
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0 0 10px 0;
    padding: 0;
    white-space: nowrap;
}

.box-stat .inner p{
    font-size: 1rem;
}

.box-stat .icon{
    color: rgba(0, 0, 0, .25);
    z-index: 0;
}

.box-stat .icon>i{
    position: absolute;
    font-size: 70px;
    top: 20px;
    right: 15px;
    transition: all .3s linear;
}

.box-stat:hover .icon>i{
    font-size: 85px;
}

/*
    TABLE
*/

.card{
    margin-bottom: 1.5rem;
}

.card-header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.card-header>.card-tools {
    float: right;
    margin-right: -.625rem;
    color: white;
}

.btn-tool{
    color: white !important;
}

.card-body::after, .card-footer::after, .card-header::after {
    display: block;
    clear: both;
    content: "";
}

.card-title {
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: .5rem !important;
}

.card-body>.table{
    margin-bottom: 0;
}

.table{
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
}

.table thead>tr>th:first-of-type, .table tbody>tr>td:first-of-type {
    padding-left: 1.5rem;
}

.table thead th{
    border-top-width: 0;
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th{
    padding: .75rem;
    border-top: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd),.table-bordered tbody tr:nth-of-type(odd){
    background-color: rgba(0, 0, 0, .05);
}

.table-bordered{
    border: 1px solid #dee2e6;
}

.table-bordered td, .table-bordered th{
    border: 1px solid #dee2e6;
}

.projects td {
    vertical-align: middle;
}

.text-right{
    text-align: right !important;
}

.btn-sm{
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.form-check{
    position: relative;
    display: block;
    padding-left: 1.25rem;
}

input[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
}

.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    border-color: #cbd1d8;
    border-style: solid;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
    position: relative;
    z-index: 1000;
}

.option-input:checked::before {
    height: 40px;
    width: 37px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }

.option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}

.option-input:disabled{ 
    border-color: #eee;
    color: #ccc;
    background: linear-gradient(to top, #e6e6e6 0px, #fff 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
  }

.option-input:hover {
    background: #9faab7;
}

.option-input:checked {
    background: #40e0d0;
}



.d-inline{
    display: inline !important;
}

.ml-2{
    margin-left: .5rem !important;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 700;
}

.black {
    color: black !important;
}

.callout{
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
    background-color: #fff;
    border-left: 5px solid #e9ecef;
    margin-bottom: 1rem;
    padding: 1rem;
}

.callout.callout-warning{
    border-left-color: #d39e00;
}

.callout p, .callout h5{
    color: black !important;
}

.checkbox-container {
    display: inline-block;
    position: relative;
    text-align: center;
}

.checkbox-container label {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    transition: all 0.3s ease-out;
    width: 45px;
    height: 25px;
    z-index: 2;
    cursor: pointer;
}

.checkbox-container label.checked-toggle::after{
    background-color: #0EFF5E !important;
}

.checkbox-container label::after {
    content: ' ';
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 1.5px;
    left: 1px;
    transform: translateX(0);
    transition: transform 0.3s linear;
    width: 20px;
    height: 20px;
    z-index: 3;
}

.checkbox-container input {
    visibility: hidden;
    position: absolute;
    z-index: 2;
}

.checkbox-container input:checked + label + label {
    transform: translate(-50%, -50%) scale(15);
}

.checkbox-container input:checked + label::after {
    transform: translateX(calc(100% + 0.5px));
}

.emailqueue{
    padding-top: 90px;
}

.modal-email{
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content-email {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content-email h3,.modal-content-email p{
    color: black !important;
    font-size: 1em;
}

.modal-email-button {
    display: flex;
    float: right;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}