body{
    background-color: #262626 !important;
}

h1,h2,h3,h4,h5,h6,p,a{
    color: white !important;
}

.grey{
    color: #999 !important;
}

.active-custom{
    background-color: #0EFF5E !important;
}

.card h1,h2,h3,h4,h5,h6,p{
    color:black;
}

.navbar{
    z-index: 1;
}

.bg-custom{
    background-color: rgba(38, 38, 38, 0.8);
    box-shadow: 0 6px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.navbar .navbar-brand{
    padding-left: 15%;
    color: white;
    font-size: 2em;
}

.navbar-nav{
    padding-right: 5%;
}

.navbar-nav .nav-item .nav-link{
    font-size: 1.5em;
    color: white;
}

.navbar-nav .nav-item.active .nav-link {
    font-size: 1.5em;
    color: rgba(221, 9, 247, 1) !important;
}

.nav-link .dropdown-toggle{
    font-size: 1.5em;
}

.dropdown-item{
    color: black !important;
}

@media(min-width: 992px){
    .button-connexion{
        padding-left: 10%;
    }

    .dropdown{
        padding-left: 10%;
    }

    .button-connexion a{
        background-color: transparent !important;
        border-radius: 20px;
        border: 1px solid #FF4B2B;
        border-color: #FFFFFF !important;
    }
}

.dropdown .dropdown-toggle::after{
    content: none;
}

.dropdown-toggle img{
    top: 100px;
    width: 2em;
    height: 2em;
}

.navbar-button button,.navbar-button button:hover,.navbar-button button:focus{
    padding-top: 10px;
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    right: 50px;
}


.content .container{
    padding-top: 100px;
    padding-bottom: 100px;
}

.content .container h3{
    padding-bottom: 50px;
}

.content .container-fluid{
    padding-top: 100px;
    padding-bottom: 100px;
}

.content .container-fluid h3{
    padding-bottom: 50px;
}


.image-content{
    width: 100%;
    height: 100vh;
    background: url('../../public/img/association.jpg') no-repeat 50% 50%;
    background-size: cover;
}

.card-sign{
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.card-sign .card-header h3{
    color:white;
}

.input-group{
    padding-top: 15px;
}

.input-group-prepend .register{
    width: 40px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

.danger span{
    background-color: red !important;
}

.error{
    color: red;
    position: absolute;
    left: 15%;
    top: 97%;
}

.remember{
    color: white;
}
    
.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}
    
.login_btn{
    color: black !important;
    background-color: #FFC312 !important;
    width: 100px !important;
}
    
.login_btn:hover{
    color: black !important;
    background-color: white !important;
}

.site-footer{
    background-color:#262626;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.site-footer hr{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small{
    margin:20px 0
}
.site-footer h6{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a{
    color:#737373;
}
.site-footer a:hover{
    color:#3366cc;
    text-decoration:none;
}
.footer-links{
    padding-left:0;
    list-style:none
}
.footer-links li{
    display:block
}
.footer-links a{
    color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li{
    display:inline-block
}
.site-footer .social-icons{
    text-align:right
}
.site-footer .social-icons a{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyright-text{
    margin:0
}
@media (max-width:991px){
    .site-footer [class^=col-]{
        margin-bottom:30px
    }
}
@media (max-width:767px){
    .site-footer{
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons{
        text-align:center
    }
}
.social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover{
    background-color:#3b5998
}
.social-icons a.twitter:hover{
    background-color:#00aced
}
.social-icons a.linkedin:hover{
    background-color:#007bb6
}
.social-icons a.dribbble:hover{
    background-color:#ea4c89
}
@media (max-width:767px){
    .social-icons li.title{
        display:block;
        margin-right:0;
        font-weight:600
    }
}

.association-image{
    width: 100%;
    height: 100px;
    border-radius: 100%;
}

.association-view{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 10px;
    margin: 5px;
}

.association-view div{
    padding-top: 2.5px;
}

.association-image-view{
    padding: 0.75em;
    width: 100%;
    height: 100px;
}

.association-button{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.association-button{
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    color: #999999;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;

    background: rgba(0,0,0,0);
    border-radius: 4px;
    border: 1px solid black;
}

.blue{
    background: linear-gradient(0deg, rgba(135,57,229,1) 0%, rgba(84,150,255,1) 100%);
}

.labelled {
    display: inline-block;
    font-size: 0.75em;
    color: #FFF;
    padding: 1px 10px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

.circle{
    border-radius: 50%;
}

.card-contact{
    border: none !important;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
}

.card-contact .card-header{
    background-color: #262626;
    height: 60px;
}

.card-contact .card-body {
    background-color: #262626;
}

.card-contact .card-body label{
    color: white;
}

.card-contact .card-footer{
    background-color: #262626;
}

.actuality-create-button{
    padding-top: 24px;
    padding-left: 80px;
}

.actuality-create-button button{
    float: left;
    margin : 0 2px;
}

.tox-tinymce{
    z-index: 0;
}

.modal-actuality-preview{
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-actuality-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    padding-bottom: 50px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-actuality-content h3{
    padding-bottom: 1px !important;
}

.modal-actuality-content h3,.modal-actuality-content p{
    color: black !important;
    font-size: 1em;
}

.modal-actuality-content a {
    color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent !important;
}

.modal-actuality-image {
    height: 200%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}